body {
  // background-image: linear-gradient(to right, #434343 0%, black 100%);
}
li {
  list-style: none;
}

.search-form {
  height: 60px;
  padding: 10px;
  background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
  display: flex;
  justify-content: center;
  align-items: center;

  &__input {
    height: 40px;
    padding: 0 10px;
    width: clamp(250px, 50%, 500px);
  }

  &__btn {
    height: 40px;
  }
}
.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  // a {
  //   width: 320px;
  //   height: 240px;
  // }
}
