body {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.searchBar {
  height: 60px;
  padding: 10px;
  background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
  &__submitForm {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__input {
    height: 40px;
    padding: 0 10px;
    width: clamp(250px, 50%, 500px);
  }

  &__submit {
    height: 40px;
  }
}
